<ac-header-bar>
  <div class="left" (click)="back()"><a class="ac-icon-button color-" href="javascript:;" slot="left">
    <i class="icon icon-arrow_back" style="font-size: 24px;"></i>
    <div class="ac-ripple-ink"></div>
  </a></div>
  <div class="center"><span>Angular Carbon</span></div>
</ac-header-bar>
<div [@flyIn]="'active'">
  <ac-header-bar>
    <div class="left"><a class="ac-icon-button color-" href="javascript:;" slot="left"> <i class="icon icon-arrow_back"
                                                                                           style="font-size: 24px;"></i>
      <div class="ac-ripple-ink"></div>
    </a></div>
    <div class="center"><span>Header Bar</span></div>
  </ac-header-bar>
</div>
