<div class="ac-page slide-transition app-transition">
  <ac-header-bar>
    <div class="left"><a class="ac-icon-button color-" href="javascript:;" slot="left">
      <i class="icon icon-menu" style="font-size: 24px;"></i>
      <div class="ac-ripple-ink"></div>
    </a></div>
    <div class="center"><span>Angular Carbon</span></div>
  </ac-header-bar>
  <div class="ac-content-block">  Angular Carbon 是基于 angular 开发的material design ui 库。  </div>
  <div class="ac-page-content">
    <ac-list>
      <ac-item url="/ac-list" [animation]="true" title="list"  logo="c"></ac-item>
      <ac-item url="/ac-float-button" [animation]="true" title="float-button"  logo="c"></ac-item>
      <ac-item url="/ac-circular" [animation]="true" title="circular"  logo="c"></ac-item>
      <ac-item url="/ac-fresh" [animation]="true" title="fresh"  logo="c"></ac-item>
      <ac-item url="/ac-header-bar" [animation]="true" title="header-bar"  logo="c"></ac-item>
      <ac-item url="/ac-tab" [animation]="true" title="tab"  logo="c"></ac-item>
      <ac-item url="/ac-search" [animation]="true" title="search"  logo="c"></ac-item>
      <ac-item url="/ac-bottom-nav" [animation]="true" title="bottom-nav"  logo="c"></ac-item>
      <ac-item url="/ac-snack-bar" [animation]="true" title="snack-bar"  logo="c"></ac-item>
      <ac-item url="/ac-card" [animation]="true" title="card"  logo="c"></ac-item>
      <ac-item url="/ac-switch" [animation]="true" title="switch"  logo="c"></ac-item>
      <ac-item url="/ac-range" [animation]="true" title="range"  logo="c"></ac-item>
      <ac-item url="/ac-checkbox" [animation]="true" title="checkbox"  logo="c"></ac-item>
      <ac-item url="/ac-radio" [animation]="true" title="radio"  logo="c"></ac-item>
      <ac-item url="/ac-select" [animation]="true" title="select"  logo="c"></ac-item>
      <ac-item url="/ac-toast" [animation]="true" title="toast"  logo="c"></ac-item>
      <ac-item url="/ac-modal" [animation]="true" title="modal"  logo="c"></ac-item>
      <ac-item url="/ac-popup" [animation]="true" title="popup"  logo="c"></ac-item>
    </ac-list>
  </div>

</div>
