<ac-header-bar>
  <div class="left" (click)="back()"><a class="ac-icon-button color-" href="javascript:;" slot="left">
    <i class="icon icon-arrow_back" style="font-size: 24px;"></i>
    <div class="ac-ripple-ink"></div>
  </a></div>
  <div class="center"><span>Angular Carbon</span></div>
</ac-header-bar>
<div [@flyIn]="'active'">
  <ac-float-button icon="fa fa-user" type="red"></ac-float-button>
  <ac-float-button icon="fa fa-user" type="carbon"></ac-float-button>
  <ac-float-button icon="fa fa-user" type="green"></ac-float-button>
  <ac-float-button icon="fa fa-user" type="amber"></ac-float-button>
  <ac-float-button icon="fa fa-user" type="blue"></ac-float-button>
  <ac-float-button icon="fa fa-user" type="red" [fixed]="true"></ac-float-button>
</div>
