<div class="ac-page slide-transition">
  <div class="ac-header-bar">
    <div class="left"><a class="ac-icon-button color-" href="javascript:;" slot="left"> <i class="icon icon-arrow_back"
                                                                                           style="font-size: 24px;"></i>
      <div class="ac-ripple-ink"></div>
    </a></div>
    <div class="center"><span>SnackBar</span></div>
    <div class="right"></div>
  </div>
  <div class="ac-page-content">
    <div class="ac-button-area">
      <ac-button (click)="openSnack()" type="raised-fill" color="red">
        显示Snack Bar
      </ac-button>
      <ac-button (click)="openDynamicSnack()" type="raised-fill" color="red">
        显示Snack Dynamic Bar
      </ac-button>
    </div>
  </div>

</div>
